.Rproj.user
.Rhistory
.RData
.Ruserdata
.~lock
src/*.o
src/*.so
src/*.dll
inst/doc

## Ignore Some Scripts I don't use anymore
R/getSiteDeterminingIonInformation.R
R/getPairSiteDeterminingIonInformation.R
R/nIdentificationComparison.R
R/getdeltaRT.R
R/getChromatogram.R
R/data_extraction.R
R/addDependenciesToDescription.R
R/get_small_working_dataset.R